/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Variables */
:root{
    --main-color: #2288ff;
    --second-color: #192f6a;
    --text-color: #314862;
    --bg-color: #fff;

    /* Box shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

section{
    padding: 4.5rem 0 3rem;
}

.container{
    max-width: 1068px;
    margin: 0 auto;
}

header{
    display: block;
    width: 100%;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .bx{
    font-size: 24px;
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu{
    display: none;
}

.btn{
    padding: 8px 22px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    background-color: var(--main-color);
}

.btn:hover{
    background-color: #3492fd;
}

/* Home */
.home{
    margin-top: 5rem;
    background: url('./Images/Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.home .home-text{
   padding-left: 35px;
}

.home .home-text h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--bg-color);
}

/* About  */
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem ,auto));
    gap: 2rem;
    margin-top: 1rem;
}

.about-img img{
    border-radius: 3rem 0 3rem 3rem;
}

.about-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color:var(--main-color);
}

.about-text h2{
    font-size: 1.7rem;
}

.about-text p{
    font-size: 0.938rem;
    margin: 1rem 0 1.5rem 0;
}

/* Sales */
.sales{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 2.5rem;
}

.sales .box{
    padding: 20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 2rem;
}

.sales .box:hover{
    color: var(--bg-color);
    background: var(--main-color);
    transition: 0.4s all ease;
}

.sales .box .bx{
    padding: 10px;
    border-radius: 50%;
    background: #f6f6f6;
    color: var(--main-color);
    font-size: 20px;
}

.sales .box h3{
    font-size: 1.1rem;
    margin: 1rem 0 0 0.4rem;
}

.sales .box p{
    font-size: 0.938rem;
}


/* Properties heading */
.properties .heading{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.heading h2{
    font-size: 1.7rem;
}

.heading span{
    font-size: 1rem;
    font-weight: 500;
    color:var(--main-color);
    text-transform: uppercase;
}

.properties-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px ,auto));
    gap: 3rem;
    padding: 0 50px;
}

.properties-container .box{
    padding: 10px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}

.properties-container .box:hover{
    transform: translateY(-10px);
    transition: 0.4s all ease;
}

.properties-container .box img{
    border-radius: 1rem;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.properties-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    float: right;
}

.properties-container .box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.properties-container .box .content .text h3{
    font-weight: 500;
}

.properties-container .box .content .text p{
    font-size: 0.8rem;
}

.properties-container .box .content .icon{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.properties-container .box .content .icon .bx{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.properties-container .box .content .icon span{
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
}